<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>¿Qué es?</h2>
     <p>Es un espacio en el que estudiantes de varias universidades de Medellín se reunen a resolver retos algorítmicos y matemáticos.</p>
  </div>
  <div class="span4">
    <h2>¿Cuándo es?</h2>
     <p><strong>Nivel básico</strong>: Lunes, 12M a 2PM</p>
     <p><strong>Nivel avanzado</strong>: Martes, 5PM a 7PM</p>
 </div>
  <div class="span4">
    <h2>¿Dónde es?</h2>
    <p>Aulas por definir.</p>
  </div>
</div>

<section id="faq">
  <div class="page-header">
    <h1>Preguntas frecuentes</h1>
  </div>
  
  <div class="row">
    <div class="span4">
     <h4>¿Qué se hace exactamente en el semillero?</h4>
    </div>
    
    <div class="span8">
      <p>Se resuelven problemas algorítmicos. Esto significa escribir programas de computador que leen
      unos datos y calculan una respuesta, según el problema.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="span4">
     <h4>Me gustaría ver un ejemplo de algún problema que se haya trabajado en el semillero y su solución.</h4>
    </div>
    
    <div class="span8">
      <p>El semestre pasado resolvimos todos los problemas de la Maratón Nacional Colombiana de Programación 2011. <%= link_to "Estos son los problemas de esa maratón", "http://www.acis.org.co/fileadmin/Maraton_2011/problemset.pdf" %>. De esa maratón, el problema más fácil es el D - Digital Roulette. <%= link_to "Aquí está la solución", "https://gist.github.com/1947534" %>.</p>
      <p>Por supuesto, también resolvimos unas cuantas decenas de problemas más.</p>
    </div>
  </div>

  <div class="row">
    <div class="span4">
     <h4>¿En qué lenguaje programan?</h4>
    </div>
    
    <div class="span8">
      <p>Únicamente en C++ ó Java (son los únicos 2 lenguajes que se pueden usar en la Maratón Nacional Colombiana).</p>
    </div>
  </div>
  
  <div class="row">
    <div class="span4">
     <h4>¿Tengo que saber programar para ir al semillero?</h4>
    </div>
    
    <div class="span8">
      <p>Para el nivel básico, <strong>no</strong> es necesario saber programar (mucho). Vamos a empezar desde cero.</p>
      <p>Para el nivel avanzado, <strong>sí</strong> es necesario saber programar (mucho).</p>
    </div>
  </div>
  
  <div class="row">
    <div class="span4">
     <h4>Me gustaría participar, pero no puedo asistir en ese horario.</h4>
    </div>
    
    <div class="span8">
      <p>Normalmente hacemos competencias de práctica los fines de semana. Puedes participar en esas. Los anuncios de las competencias los envíamos por <%= link_to "nuestra lista de correo en Google Groups", "http://groups.google.com/group/semillero-de-programacion" %>.</p>
    </div>
  </div>

  <div class="row">
    <div class="span4">
     <h4>¿Hay que pagar?</h4>
    </div>
    
    <div class="span8">
      <p>No.</p>
    </div>
  </div>

  <div class="row">
    <div class="span4">
     <h4>¿Qué temas vamos a ver?</h4>
    </div>
    
    <div class="span8">
      <p>Ver el <%= link_to "programa de contenidos", curriculum_path %>.</p>
    </div>
  </div>

  <div class="row">
    <div class="span4">
     <h4>Tengo otra pregunta.</h4>
    </div>
    
    <div class="span8">
      <p>Escríbele a Andrés Mejía:</p>
      <p><%= image_tag "http://www.email2image.com/Bilder/441047732.Png" %></p>
    </div>
  </div>

  
</section>
